<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    <div class="form-group">
        <label>주소</label>
        <input type="text" class="form-control" name="addressId" placeholder="도로명 주소">
        <input type="text" class="form-control" name="addressLine" placeholder="상세 주소">
        <input type="text" class="form-control" name="zipcode" placeholder="우편번호">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="registerAddress" id="registerAddress">
        <label class="form-check-label" for="registerAddress">
                이 주소로 기본 배송지 등록
        </label>
    </div>

    <button type="submit" class="btn btn-primary">회원가입</button>
</form>
</body>
</html>